# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Livesplit.Http.iml
/modules.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
